@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@0;1&family=Poppins:wght@400;600&display=swap');
*{
    font-family: Arial, Helvetica, sans-serif;
}
body{
    margin: 0;
    padding: 0;
   /* background: linear-gradient(0deg, rgb(59, 127, 228) 1%, rgb(59, 6, 143) 99%);*/
}
header{
    background: linear-gradient(0deg, rgb(124, 159, 212) 1%, rgb(87, 85, 197) 99%);
}
.conteiner{
    max-width: 1040px;
    margin: auto;
}
.logo {
    display: flex;
    width: 60px;
    height: 60px;
    border-radius: 30px;
    justify-content: center;
    align-items: center;
    color: aliceblue;
}
.menu{
    display: flex;
    justify-content: space-between;
    height: 65px;
}
.logo img{
    width: 60px;
}
.hamburguer{
    display: none;
}
.menu-left{
    display: flex;
    align-items: center;
}
.menu-right{
    display: flex;
    align-items: center;
}

.menu ul{
    display: inline-flex;
    list-style: none;
    margin: 0;
}
li{
    display: flex;
}
.menu ul a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding: 10px;
    font-family: 'Poppins';
}
.menu ul a:hover{
    border-bottom: 2px solid rgb(255, 255, 255);
}






/*                         Responsivo                                     */


@media (max-width:1024px) {
    .conteiner{
        max-width: 800px;
    }
}
@media (max-width:750px) {
    .conteiner{
        max-width: 600px;
    }
    .menu ul {
        font-size: 14px;
    }
    .menu ul li a{
        color: black;
    }
    
        
}

@media (max-width:450px) {
    .conteiner{
        max-width: 600px;
    }
    .menu ul {
        font-size: 14px;
        flex-direction: column;
        padding: 0;
        margin: 0;
    }
    .menu ul li a{
        color: #fff;
        font-size: 25px;
        font-family: 'Poppins';
    }
    .hamburguer{
        
        display: block;
        width:30px ;
        height:40px ;
        float: right;
        margin-right: 10px;
        margin-top: 6px;
        z-index: 1;
    }
    nav{
        background: linear-gradient(0deg, rgb(124, 159, 212) 1%, rgb(87, 85, 197) 99%);
        position: absolute;
        top: 0;
        right: 0;
        width: 100vw;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .abrir {
        opacity: 1;
        transition: .7s;
    }
    .fechar{
        opacity: 0;
        transition: .7s;
    }
    .l1,
    .l2,
    .l3 {
        margin: 6px auto;
        width: 100%;
        height: 4px;
        background-color: rgb(255, 255, 255);
    }
    
    .logo {
        font-size: 15px;
        margin-left: 30px;
    }
        
}



